$iota-components-pages-name          : 'page';
$iota-components-pages-container-name: 'container';
$iota-components-pages-wrapper-name  : 'wrapper';
$iota-components-pages-namespace     : $iota-global-components-namespace + $iota-components-pages-name;
@import "jumbotron";
@import "heading";
@import "header";
@import "pages";
@import "notification";
@import "image-gallery";