$iota-components-header-name: 'header';
$iota-components-header-active-name: 'active';
$iota-components-header-menu-name: 'menu';
$iota-components-header-separator: '-';
$iota-components-header-namespace: $iota-global-components-namespace + $iota-components-header-name;
$iota-components-header-menu-namespace: $iota-global-components-namespace + $iota-components-header-name + $iota-components-header-separator + $iota-components-header-menu-name;
$iota-components-header-menu-width: 50px;
$iota-components-header-menu-buffer: 50px;

#app.#{$iota-components-header-name + $iota-global-separator + $iota-components-header-active-name} {
  .#{$iota-components-pages-namespace + $iota-global-separator + $iota-components-pages-container-name} {
    transform : translate3d(0px, 70%, -200px);
    // transform : scale(0.5);
    transition: transform 0.45s, opacity 0.45s;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);

    .c-page_wrapper {
      .c-page {
        color: inherit;
      }
    }
  }

  header.#{$iota-components-header-namespace} {
    .#{$iota-components-header-menu-namespace + $iota-global-separator + 'button'} {
      &::before {
        // background: #faa;
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }

      span {
        opacity: 0;
      }
    }

    .#{$iota-components-header-namespace + $iota-components-header-separator + 'container' + $iota-global-separator + $iota-components-header-menu-name} {
      transition: all 0.50s cubic-bezier(0.2, 1, 0.3, 1);
      opacity   : 1;
      transform : translate3d(0,0,0);
    }
  }
}

header.#{$iota-components-header-namespace} {
  width  : 100%;
  z-index: 1000;

  .#{$iota-components-header-menu-namespace} {
    z-index    : 1000;
    margin-top : 20px;
    margin-left: 15px;
    width      : 100%;

    .#{$iota-components-header-menu-namespace + $iota-global-separator + 'button'} {
      max-width : $iota-components-header-menu-width;
      max-height: $iota-components-header-menu-width;
      position  : absolute;
      z-index   : 1000;
      top       : 0;
      right     : 27px;
      width     : 40px;
      height    : 40px;
      padding   : 0;
      cursor    : pointer;
      border    : none;
      outline   : none;
      background: transparent;
      transition: all 0.25s linear;
      @include iota-breakpoint(sm) {
        left: 17px;
      }

      &::before {
        -webkit-transform       : translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
        transform               : translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
        content                 : '';
        position                : absolute;
        top                     : 50%;
        left                    : 0;
        width                   : 100%;
        height                  : 2px;
        pointer-events          : none;
        -webkit-transition      : -webkit-transform 0.25s;
        transition              : transform 0.25s;
        -webkit-transform-origin: 50% 50%;
        transform-origin        : 50% 50%;
        background-color        : darken($iota-global-off-white, 40%);
      }

      span {
        content                 : '';
        position                : absolute;
        top                     : 50%;
        left                    : 0;
        width                   : 100%;
        height                  : 2px;
        pointer-events          : none;
        -webkit-transition      : -webkit-transform 0.25s;
        transition              : all 0.25s linear;
        -webkit-transform-origin: 50% 50%;
        transform-origin        : 50% 50%;
        background-color        : darken($iota-global-off-white, 40%);
      }

      &::after {
        -webkit-transform       : translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
        transform               : translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
        content                 : '';
        position                : absolute;
        top                     : 50%;
        left                    : 0;
        width                   : 100%;
        height                  : 2px;
        pointer-events          : none;
        -webkit-transition      : -webkit-transform 0.25s;
        transition              : transform 0.25s;
        -webkit-transform-origin: 50% 50%;
        transform-origin        : 50% 50%;
        background-color        : darken($iota-global-off-white, 40%);
      }
    }
  }

  .#{$iota-components-header-namespace + $iota-components-header-separator + 'container'} {
    background: $iota-global-off-white;

    .#{$iota-components-header-namespace + $iota-components-header-separator + 'container' + $iota-global-separator + $iota-components-header-menu-name} {
      transition: all 0.50s linear;
      opacity   : 0;
      transform : translate3d(0, 100px, -50px);
      position  : absolute;
      top       : 50px;
      left      : 0;
      width     : 100%;
      height    : 50vh;
      // padding : 60px;
      .#{$iota-components-header-namespace + $iota-components-header-separator + 'container' + $iota-global-separator + $iota-components-header-menu-name + $iota-components-header-separator + 'wrapper'} {
        display        : -webkit-flex;
        display        : -ms-flex;
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        text-transform : uppercase;
        letter-spacing : 2px;
        padding-left   : 8%;
        padding-right  : 8%;
        @include iota-breakpoint(sm) {
          flex-direction : row;
          justify-content: space-evenly;
          flex-wrap      : wrap;
        };

        .#{$iota-components-header-namespace + $iota-components-header-separator + 'container' + $iota-global-separator + $iota-components-header-menu-name + $iota-components-header-separator + 'item'} {
          color     : #868686;
          transition: color 0.3s linear;
          // display   : block;
          width     : 33%;
          position  : relative;
          font-size : 20px;
          @include iota-breakpoint(sm) {
            text-align: center;
            padding   : 1.5%;

            &::after {
              display    : inline-block;
              text-align : center;
              margin-left: 50%;
            }
          };

          &:hover {
            color: #000;
            @include iota-breakpoint(sm) {
              &::after {
                margin-left: calc(50% - 15px);
              }
            };

            &::after {
              // margin-left: 0;
              width: 30px;
            }
          }

          &::after {
            transition: all 0.25s linear;
            display   : block;
            content   : '';
            width     : 0;
            height    : 3px;
            background: #000;
          }
        }

        .c-header-container_menu-item-alternate {
          color: darken($iota-global-off-white, 20);
        }

        .c-header-container_menu-item-alternate-wrapper {
          width          : 100%;
          padding        : 1.5%;
          display        : -webkit-flex;
          display        : -ms-flex;
          display        : flex;
          flex-direction : row;
          flex-wrap      : nowrap;
          font-size      : 10px;
          justify-content: flex-start;
          @include iota-breakpoint(sm) {
            justify-content: space-evenly;
          };

          .c-header-container_menu-item-alternate-item {
            margin: 10px;
          }
        }
      }
    }
  }
}