input {
  outline: none;
  border : none;
  padding: 10px;

  &[type="email"],
  &[type="password"] {
    background: $iota-global-off-white;
    border    : 3px dashed transparent;
    transition: all 0.15s linear;

    &:focus {
      border-color: black;
    }
  }
}

input,
input[type="password"],
input[type="text"] {
  display  : block;
  font-size: 20px;
  margin   : 10px 0;
}