// Options
$iota-components-jumbotron                : true;
$iota-components-jumbotron-namespace      : 'jumbotron' !default;
$iota-components-jumbotron-container-name : 'container' !default;
$iota-components-jumbotron-background-name: 'background' !default;
$iota-components-jumbotron-wrapper-name   : 'wrapper' !default;
$iota-components-jumbotron-title-name     : 'title' !default;
$iota-components-jumbotron-image-name     : 'image' !default;
$iota-components-jumbotron-side-name      : 'side' !default;
$iota-components-jumbotron-heading-name   : 'heading' !default;
$iota-components-jumbotron-summary-name   : 'summary' !default;
$iota-components-jumbotron-button-name    : 'button' !default;
$iota-components-jumbotron-controls-name  : 'controls' !default;
$iota-components-jumbotron-name           : $iota-global-components-namespace + $iota-components-jumbotron-namespace;
@import "jumbotron/creative";