$iota-utils-font-config-dosis: true;
@font-face {
  font-family: 'Dosis';
  src        : url('assets/fonts/dosis/Dosis-200.ttf') format('ttf');
  font-weight: 200;
  font-style : normal;
}
@font-face {
  font-family: 'Dosis';
  src        : url('assets/fonts/dosis/Dosis-300.ttf') format('ttf');
  font-weight: 300;
  font-style : normal;
}
@font-face {
  font-family: 'Dosis';
  src        : url('assets/fonts/dosis/Dosis-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: 'Dosis';
  src        : url('assets/fonts/dosis/Dosis-500.ttf') format('ttf');
  font-weight: 500;
  font-style : normal;
}
@font-face {
  font-family: 'Dosis';
  src        : url('assets/fonts/dosis/Dosis-600.ttf') format('ttf');
  font-weight: 600;
  font-style : normal;
}
@font-face {
  font-family: 'Dosis';
  src        : url('assets/fonts/dosis/Dosis-700.ttf') format('ttf');
  font-weight: 700;
  font-style : normal;
}
@font-face {
  font-family: 'Dosis';
  src        : url('assets/fonts/dosis/Dosis-800.ttf') format('ttf');
  font-weight: 800;
  font-style : normal;
}