$iota-utils-font-config-icons: true;
@charset "UTF-8";
@font-face {
  font-family: 'line-icons';
  src        : url("assets/fonts/icons/line-icons.eot");
  src        : url("assets/fonts/icons/line-icons.eot?#iefix") format("embedded-opentype"), url("assets/fonts/icons/line-icons.woff") format("woff"), url("assets/fonts/icons/line-icons.ttf") format("truetype"), url("assets/fonts/icons/line-icons.svg#line-icons") format("svg");
  font-weight: normal;
  font-style : normal;
}

[data-icon]:before {
  font-family            : "line-icons" !important;
  content                : attr(data-icon);
  font-style             : normal !important;
  font-weight            : normal !important;
  font-variant           : normal !important;
  text-transform         : none !important;
  speak                  : none;
  line-height            : 1;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="li-"]:before,
[class*=" li-"]:before {
  font-family            : "line-icons" !important;
  font-style             : normal !important;
  font-weight            : normal !important;
  font-variant           : normal !important;
  text-transform         : none !important;
  speak                  : none;
  line-height            : 1;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.li-envelope:before {
  content: "\61";
}

.li-locker-lock:before {
  content: "\62";
}

.li-locker-unlock:before {
  content: "\63";
}

.li-link-1:before {
  content: "\64";
}

.li-comment:before {
  content: "\66";
}

.li-browser-1:before {
  content: "\67";
}

.li-sync:before {
  content: "\68";
}

.li-speech:before {
  content: "\6b";
}

.li-phone-1:before {
  content: "\6c";
}

.li-image-1:before {
  content: "\6e";
}

.li-gallery-1:before {
  content: "\6f";
}

.li-google-plus:before {
  content: "\70";
}

.li-linkedin:before {
  content: "\71";
}

.li-github:before {
  content: "\72";
}

.li-twitter:before {
  content: "\73";
}

.li-pencil:before {
  content: "\74";
}

.li-responsive:before {
  content: "\75";
}

.li-desktop:before {
  content: "\76";
}

.li-tablet:before {
  content: "\77";
}

.li-phone:before {
  content: "\78";
}

.li-page:before {
  content: "\79";
}

.li-pages:before {
  content: "\7a";
}

.li-page-search:before {
  content: "\41";
}

.li-clipboard:before {
  content: "\42";
}

.li-article:before {
  content: "\43";
}

.li-notebook:before {
  content: "\44";
}

.li-notebook-open:before {
  content: "\45";
}

.li-browser:before {
  content: "\46";
}

.li-calendar:before {
  content: "\47";
}

.li-presentation:before {
  content: "\48";
}

.li-image:before {
  content: "\49";
}

.li-gallery:before {
  content: "\4a";
}

.li-video:before {
  content: "\4b";
}

.li-camera:before {
  content: "\4c";
}

.li-scanner:before {
  content: "\4d";
}

.li-briefcase:before {
  content: "\4e";
}

.li-briefcase-1:before {
  content: "\4f";
}

.li-wallet:before {
  content: "\50";
}

.li-gift:before {
  content: "\51";
}

.li-chart-bar:before {
  content: "\52";
}

.li-grid:before {
  content: "\53";
}

.li-linkedin-1:before {
  content: "\55";
}

.li-github-1:before {
  content: "\56";
}

.li-crop:before {
  content: "\57";
}

.li-focus:before {
  content: "\58";
}

.li-pencil-1:before {
  content: "\59";
}

.li-panel:before {
  content: "\5a";
}

.li-banner:before {
  content: "\30";
}

.li-hourglass:before {
  content: "\31";
}

.li-locker-alt:before {
  content: "\32";
}

.li-megaphone:before {
  content: "\33";
}

.li-shield:before {
  content: "\34";
}

.li-trophy:before {
  content: "\35";
}

.li-flag:before {
  content: "\36";
}

.li-map:before {
  content: "\37";
}

.li-jigsaw:before {
  content: "\38";
}

.li-basket:before {
  content: "\39";
}

.li-envelope-open:before {
  content: "\21";
}

.li-telescope:before {
  content: "\22";
}

.li-sign:before {
  content: "\23";
}

.li-gears:before {
  content: "\24";
}

.li-key:before {
  content: "\25";
}

.li-paperclip:before {
  content: "\26";
}

.li-et-line-46:before {
  content: "\27";
}

.li-tags:before {
  content: "\28";
}

.li-lightbulb:before {
  content: "\29";
}

.li-layers:before {
  content: "\2a";
}

.li-laptop:before {
  content: "\2b";
}

.li-edit:before {
  content: "\2c";
}

.li-user-male:before {
  content: "\2d";
}

.li-anchor:before {
  content: "\2e";
}

.li-recycle:before {
  content: "\2f";
}

.li-tools:before {
  content: "\3a";
}

.li-scissor:before {
  content: "\3b";
}

.li-paintbrush:before {
  content: "\3c";
}

.li-search:before {
  content: "\3d";
}

.li-design:before {
  content: "\3e";
}

.li-chart-line:before {
  content: "\3f";
}

.li-microphone:before {
  content: "\40";
}

.li-strategy:before {
  content: "\5b";
}

.li-beaker:before {
  content: "\5d";
}

.li-alert:before {
  content: "\5e";
}

.li-user-female:before {
  content: "\5f";
}

.li-bike:before {
  content: "\60";
}

.li-wine:before {
  content: "\7b";
}

.li-balloon:before {
  content: "\7c";
}

.li-globe:before {
  content: "\7d";
}

.li-atom:before {
  content: "\7e";
}

.li-map-pin:before {
  content: "\5c";
}

.li-settings:before {
  content: "\e000";
}

.li-chat-bubble:before {
  content: "\e001";
}

.li-heart:before {
  content: "\e002";
}

.li-cloud:before {
  content: "\e003";
}

.li-quote:before {
  content: "\e004";
}

.li-crosshair:before {
  content: "\e005";
}

.li-aperture:before {
  content: "\e006";
}

.li-clock:before {
  content: "\e007";
}

.li-wheel:before {
  content: "\e008";
}

.li-compass:before {
  content: "\e009";
}

.li-world:before {
  content: "\e00a";
}

.li-target:before {
  content: "\e00b";
}

.li-danger:before {
  content: "\e00c";
}

.li-chart-pie:before {
  content: "\e00d";
}

.li-speedometer:before {
  content: "\e00e";
}

.li-arrow-streamline-target:before {
  content: "\65";
}

.li-armchair-chair-streamline:before {
  content: "\6a";
}

.li-bag-shopping-streamline:before {
  content: "\6d";
}

.li-backpack-streamline-trekking:before {
  content: "\54";
}

.li-barbecue-eat-food-streamline:before {
  content: "\e00f";
}

.li-barista-coffee-espresso-streamline:before {
  content: "\e010";
}

.li-bomb-bug:before {
  content: "\e011";
}

.li-book-dowload-streamline:before {
  content: "\e012";
}

.li-book-read-streamline:before {
  content: "\e013";
}

.li-settings-streamline-1:before {
  content: "\e014";
}

.li-shoes-snickers-streamline:before {
  content: "\e015";
}

.li-settings-streamline:before {
  content: "\e016";
}

.li-ibook-laptop:before {
  content: "\e017";
}

.li-happy-smiley-streamline:before {
  content: "\e018";
}

.li-earth-globe-streamline:before {
  content: "\e019";
}

.li-factory-lift-streamline-warehouse:before {
  content: "\e01a";
}

.li-attach:before {
  content: "\e01b";
}

.li-map-pin-streamline:before {
  content: "\e01c";
}

.li-dashboard-speed-streamline:before {
  content: "\e01d";
}

.li-fontawesome-webfont:before {
  content: "\e01e";
}

.li-magic-magic-wand-streamline:before {
  content: "\e01f";
}

.li-paperclip-1:before {
  content: "\e020";
}

.li-clip:before {
  content: "\e021";
}

.li-angle-down:before {
  content: "\e022";
}

.li-down-open-big:before {
  content: "\e023";
}

.li-brush-paint-streamline:before {
  content: "\e024";
}

.li-cocktail-mojito-streamline:before {
  content: "\e025";
}

.li-clock-streamline-time:before {
  content: "\e026";
}

.li-chef-food-restaurant-streamline:before {
  content: "\e027";
}

.li-chaplin-hat-movie-streamline:before {
  content: "\e028";
}

.li-camera-streamline-video:before {
  content: "\e029";
}

.li-camera-photo-streamline:before {
  content: "\e02a";
}

.li-caddie-shop-shopping-streamline:before {
  content: "\e02b";
}

.li-caddie-shopping-streamline:before {
  content: "\e02c";
}

.li-computer-network-streamline:before {
  content: "\e02d";
}

.li-computer-streamline:before {
  content: "\e02e";
}

.li-cook-pan-pot-streamline:before {
  content: "\e02f";
}

.li-crop-streamline:before {
  content: "\e030";
}

.li-crown-king-streamline:before {
  content: "\e031";
}

.li-danger-death-delete-destroy-skull-stream:before {
  content: "\e032";
}

.li-database-streamline:before {
  content: "\69";
}

.li-delete-garbage-streamline:before {
  content: "\e033";
}

.li-design-graphic-tablet-streamline-tablet:before {
  content: "\e034";
}

.li-coffee-streamline:before {
  content: "\e035";
}

.li-computer-imac:before {
  content: "\e036";
}

.li-computer-imac-2:before {
  content: "\e037";
}

.li-computer-macintosh-vintage:before {
  content: "\e038";
}

.li-drug-medecine-streamline-syringue:before {
  content: "\e039";
}

.li-diving-leisure-sea-sport-streamline:before {
  content: "\e03a";
}

.li-design-pencil-rule-streamline:before {
  content: "\e03b";
}

.li-streamline-umbrella-weather:before {
  content: "\e03c";
}

.li-remote-control-streamline:before {
  content: "\e03d";
}

.li-receipt-shopping-streamline:before {
  content: "\e03e";
}

.li-music-speaker-streamline:before {
  content: "\e03f";
}

.li-music-note-streamline:before {
  content: "\e040";
}

.li-ipod-streamline:before {
  content: "\e041";
}

.li-micro-record-streamline:before {
  content: "\e042";
}

.li-monocle-mustache-streamline:before {
  content: "\e043";
}

.li-japan-streamline-tea:before {
  content: "\e044";
}

.li-laptop-macbook-streamline:before {
  content: "\e045";
}

.li-like-love-streamline:before {
  content: "\e046";
}

.li-food-ice-cream-streamline:before {
  content: "\e047";
}

.li-frame-picture-streamline:before {
  content: "\e048";
}

.li-envellope-mail-streamline:before {
  content: "\e049";
}

.li-ipad-streamline:before {
  content: "\e04a";
}

.li-ink-pen-streamline:before {
  content: "\e04b";
}

.li-magnet-streamline:before {
  content: "\e04c";
}

.li-pen-streamline-1:before {
  content: "\e04d";
}

.li-pen-streamline:before {
  content: "\e04e";
}

.li-bubble-2:before {
  content: "\e04f";
}

.li-bubble-3:before {
  content: "\e050";
}

.li-camera-1:before {
  content: "\e051";
}

.li-clap-board:before {
  content: "\e052";
}

.li-clipboard-1:before {
  content: "\e053";
}

.li-clock-1:before {
  content: "\e054";
}

.li-cloud-1:before {
  content: "\e055";
}

.li-cloudy:before {
  content: "\e056";
}

.li-envelope-1:before {
  content: "\e057";
}

.li-file-ai:before {
  content: "\e058";
}

.li-file-jpg:before {
  content: "\e059";
}

.li-file-png:before {
  content: "\e05a";
}

.li-file-psd:before {
  content: "\e05b";
}

.li-file-text:before {
  content: "\e05c";
}

.li-graph:before {
  content: "\e05d";
}

.li-heart-1:before {
  content: "\e05e";
}

.li-hierarchy:before {
  content: "\e05f";
}

.li-hierarchy-2:before {
  content: "\e060";
}

.li-imac:before {
  content: "\e061";
}

.li-ipad:before {
  content: "\e062";
}

.li-iphone:before {
  content: "\e063";
}

.li-keyboard:before {
  content: "\e064";
}

.li-laptop-1:before {
  content: "\e065";
}

.li-line:before {
  content: "\e066";
}

.li-list:before {
  content: "\e067";
}

.li-list-thumbnails:before {
  content: "\e068";
}

.li-lock:before {
  content: "\e069";
}

.li-magnifier:before {
  content: "\e06a";
}

.li-map-1:before {
  content: "\e06b";
}

.li-map-pin-1:before {
  content: "\e06c";
}

.li-moon:before {
  content: "\e06d";
}

.li-mouse:before {
  content: "\e06e";
}

.li-pencil-2:before {
  content: "\e06f";
}

.li-pencil-ruler:before {
  content: "\e070";
}

.li-picture:before {
  content: "\e071";
}

.li-rain:before {
  content: "\e072";
}

.li-ribbon:before {
  content: "\e073";
}

.li-shoe:before {
  content: "\e074";
}

.li-speaker:before {
  content: "\e075";
}

.li-speaker-off:before {
  content: "\e076";
}

.li-sun:before {
  content: "\e077";
}

.li-tape:before {
  content: "\e078";
}

.li-target-1:before {
  content: "\e079";
}

.li-unlock:before {
  content: "\e07a";
}

.li-bubble-1:before {
  content: "\e07b";
}

.li-browser-full:before {
  content: "\e07c";
}

.li-browser-empty:before {
  content: "\e07d";
}

.li-bicycle-vintage:before {
  content: "\e07e";
}

.li-bicycle:before {
  content: "\e07f";
}

.li-bag:before {
  content: "\e080";
}

.li-star:before {
  content: "\e081";
}

.li-star-half:before {
  content: "\e082";
}

.li-star-1:before {
  content: "\e083";
}

.li-star-o:before {
  content: "\e084";
}

.li-grid-lines-streamline:before {
  content: "\e085";
}

.li-handle-streamline-vector:before {
  content: "\e086";
}

.li-cancel:before {
  content: "\e087";
}