$iota-p-cols: $iota-pages-prefix + 'cols';

.#{$iota-p-cols} {
  .p-cols_title {
    letter-spacing: 4px;
    color         : $iota-global-grey;
    text-transform: uppercase;

    &::after {
      content    : '';
      display    : block;
      margin-top : 5px;
      margin-left: 10px;
      width      : 80px;
      height     : 2px;
      background : $iota-global-grey;
    }
  }

  .p-cols_list {
    overflow: hidden;

    .p-cols_list-item {
      color    : $iota-global-primary-accent-color;
      margin   : 50px 0;
      padding  : 10px;
      max-width: 650px;

      .p-cols_list-item_title {
        font-variant  : no-common-ligatures;
        margin-bottom : 10px;
        position      : relative;
        z-index       : 1;
        display       : inline-block;
        overflow      : hidden;
        text-overflow : ellipsis;
        white-space   : nowrap;
        max-width     : 100%;
        letter-spacing: 1px;
        font-size     : 31px;
        @include iota-breakpoint(sm) {
          font-size: 50px;
        };

        &::before {
          background      : $iota-global-primary-accent-color;
          content         : '';
          position        : absolute;
          z-index         : -1;
          bottom          : 0;
          left            : 0;
          width           : 90%;
          height          : 50%;
          opacity         : 0.2;
          transform       : scale3d(0,1,1);
          transform-origin: 0 50%;
          transition      : transform 1s cubic-bezier(0.24, 0.91, 0.2, 1);
        }
      }

      .p-cols_list-item_tag {
        @extend .animated;
        transition    : opacity 0.5s linear 0.25s;
        opacity       : 0;
        text-transform: uppercase;
        font-weight   : 700;
        font-size     : 14px;
        letter-spacing: 3px;
        display       : -webkit-flex;
        display       : -ms-flex;
        display       : flex;
        align-items   : center;
        color         : darken($iota-global-grey, 30%);

        &::after,
        &::before {
          content   : "";
          display   : inline-block;
          width     : 15px;
          height    : 2px;
          background: darken($iota-global-grey, 30%);
          margin    : auto 10px;
        }
      }

      .p-cols_list-item_summary {
        color         : $iota-global-grey;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition    : color 0.25s linear;
        margin-bottom : 20px;
      }

      &:hover {
        .p-cols_list-item_title {
          &::before {
            transform: scale3d(1,1,1);
          }
        }

        .p-cols_list-item_tag {
          @extend .slideInLeft;
          animation-duration: 0.38s;
          opacity           : 1;
        }

        .p-cols_list-item_summary {
          color: darken($iota-global-grey, 30%);
        }
      }
    }
  }
}